<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :email_activated %><br>
    <%= f.check_box :email_activated %>
  </div>
  <div class="field">
    <%= f.label :mobile_activated %><br>
    <%= f.check_box :mobile_activated %>
  </div>
  <div class="field">
    <%= f.label :bankaccount_binded %><br>
    <%= f.check_box :bankaccount_binded %>
  </div>
  <div class="field">
    <%= f.label :id_card %><br>
    <%= f.text_field :id_card %>
  </div>
  <div class="field">
    <%= f.label :addr_country %><br>
    <%= f.text_field :addr_country %>
  </div>
  <div class="field">
    <%= f.label :addr_province %><br>
    <%= f.text_field :addr_province %>
  </div>
  <div class="field">
    <%= f.label :addr_city %><br>
    <%= f.text_field :addr_city %>
  </div>
  <div class="field">
    <%= f.label :addr_details %><br>
    <%= f.text_field :addr_details %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :additional_phone %><br>
    <%= f.text_field :additional_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
