<%= form_for(@user, html: { class: "form-horizontal", id: "haha-form-signup" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= render partial: "form_group_horizontal", locals: { field: :user_name, field_desc: "用户名", field_tooltip: "用户名为6-20位字母或数字字母下划线组合", f: f } %>
	<%= render partial: "form_group_horizontal", locals: { field: :name, field_desc: "姓名", field_tooltip: "您的真实姓名", f: f } %>
	<%= render partial: "form_group_horizontal", locals: { field: :id_num, field_desc: "身份证号码", field_tooltip: "你的15位或者18位身份证号码", f: f } %>
	<%= render partial: "form_group_horizontal", locals: { field: :login_pass, field_desc: "登录密码", field_tooltip: "请选择一个安全的密码，最好是字母、数字和符号的组合", f: f } %>
	<%= render partial: "form_group_horizontal", locals: { field: :login_pass, field_desc: "重复登录密码", field_tooltip: "请再次输入登录密码", f: f } %>
	<%= f.fields_for :emails do |emails_form| %>
		<%= render partial: "form_group_horizontal", locals: { field: :addr, field_desc: "邮箱地址", field_tooltip: "你的电子邮箱地址（第一个邮箱为你的主邮箱）", f: emails_form } %>
	<% end %>

	<%= f.fields_for :phones do |phones_form| %>
		<%= render partial: "form_group_horizontal", locals: { field: :number, field_desc: "联系电话", field_tooltip: "你的联系电话（第一个邮箱为你的主要联系电话）", f: phones_form } %>
	<% end %>

	<div class="form-group">
    <label class="col-md-2 control-label" for="">验证码</label>
		<div class="col-md-4">
			<div id="recaptcha_widget">
        <div class="row">
          <div class="col-md-6">
						<div class="input-group">
							<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="form-control" />
							<span class="input-group-btn">
								<a type="button" class="btn btn-default" href="javascript:Recaptcha.reload()">
									<span class="glyphicon glyphicon-refresh"></span>
								</a>
							</span>
						</div>
					</div>
          <div class="col-md-6 haha-compact-col">
						<div id="recaptcha_image">

						</div>
					</div>
        </div>				
			</div>
			<%= recaptcha_tags :ajax => true,
					:display => {
						:theme => "custom",
						:custom_theme_widget => 'recaptcha_widget',
						:custom_translations => {
							refresh_btn: "重新生成验证码",
							help_btn: "帮助",
							incorrect_try_again: "输入不正确，请重试",
							visual_challenge: "图片验证码",
							audio_chanlleng: "音频验证码",
							play_again: "重新播放",
							instructions_visual: "请输入图片验证码",
							instructions_audio: "请输入音频验证码",
							privacy_and_terms: "隐私条款"
						}
					}
			%>	
		</div>
	</div>

	<div class='row'>
    <div class="col-md-4 col-md-offset-2">
      <div class="checkbox">
        <label for="">
          <input type="checkbox" name="agreement_acknowledged" /> 我同意<a href="#">用户注册须知</a>里面的所有条款
        </label>
      </div>
    </div>
  </div>
	
  <br/>

  <div class="row">
		<div class="col-md-2 col-md-offset-2">
			<%= f.submit "创建", class: "btn btn-primary btn-block haha-btn-toggle" %>			
		</div>
	</div>
	
<% end %>
