<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Name</th>
      <th>Admin</th>
      <th>Email activated</th>
      <th>Mobile activated</th>
      <th>Bankaccount binded</th>
      <th>Id card</th>
      <th>Addr country</th>
      <th>Addr province</th>
      <th>Addr city</th>
      <th>Addr details</th>
      <th>Mobile</th>
      <th>Additional phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.name %></td>
        <td><%= user.admin %></td>
        <td><%= user.email_activated %></td>
        <td><%= user.mobile_activated %></td>
        <td><%= user.bankaccount_binded %></td>
        <td><%= user.id_card %></td>
        <td><%= user.addr_country %></td>
        <td><%= user.addr_province %></td>
        <td><%= user.addr_city %></td>
        <td><%= user.addr_details %></td>
        <td><%= user.mobile %></td>
        <td><%= user.additional_phone %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
