<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Email activated:</strong>
  <%= @user.email_activated %>
</p>

<p>
  <strong>Mobile activated:</strong>
  <%= @user.mobile_activated %>
</p>

<p>
  <strong>Bankaccount binded:</strong>
  <%= @user.bankaccount_binded %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @user.id_card %>
</p>

<p>
  <strong>Addr country:</strong>
  <%= @user.addr_country %>
</p>

<p>
  <strong>Addr province:</strong>
  <%= @user.addr_province %>
</p>

<p>
  <strong>Addr city:</strong>
  <%= @user.addr_city %>
</p>

<p>
  <strong>Addr details:</strong>
  <%= @user.addr_details %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Additional phone:</strong>
  <%= @user.additional_phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
